{% extends 'base.html' %}

{% block content %}


<div class="relative -z-50">
    <img src="/static/images/home/bg.svg" alt="bg">
</div>  


<footer class="bg-color-footer text-white w-full flex flex-row  items-center p-6 gap-32">

    <div class="flex flex-col  ">

            <a href="">
                <img class="w-52 h-auto" src="/static/images/header/logoo.png" alt="">
            </a>
        
        <p class="text-sm w-96 h-auto text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Earum provident voluptate labore obcaecati quod incidunt quos eius est expedita reprehenderit fugit doloremque, 
        </p>

        <div class="flex flex-row mt-8 gap-4">
            <a href=""><b>FB</b></a>
            <a href=""><b>TW</b></a>
            <a href=""><b>LI</b></a>
        </div> 

    </div> 


    
    <div class="flex flex-col">
        <strong><h1 class="mb-5">Quick Link’s</h1></strong>
        <a href="">Home</a>
        <a href="">Type’s Of plant’s</a>
        <a href="">Contact</a>
        <a href="">Privacy</a> 
    </div>


    <div class="flex flex-col">
        <b><span>For Every Update.</span></b>
        <form action="">
            <input type="email" placeholder="Enter Email"class='px-4 mt-6 py-2 rounded-l-md text-gray-800 focus:outline-none'>
            <button class="bg-white text-green-900 px-4 py-2 rounded-r-md font-bold hover:bg-gray-200">Subscribe</button>
        </form>
        <p>planto © all right reserve</p>
    </div>
    
</footer>
{% endblock %}

