<header>
    <nav class="fixed flex w-full top-0 mt-6 ">


    <ul class="absolute flex w-full  justify-center items-center  gap-7 ">

        <a class="text-white" href="">Home</a>
        <a class="text-white" href="">Plant Type</a>
        <a class="text-white" href="">More</a>
        <a class="text-white" href="">Contact</a>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button class="text-white" type="submit">logout</button>
        </form>

    
            {% if request.user.is_authenticated %}
            <p class="text-white">سلام {{ request.user.email }}!</p>
    
        {% else %}
        <p>سلام مهمان! لطفاً <a href="{% url 'login' %}">وارد شوید</a>.</p>
        {% endif %}
            


        


    </ul>


    <ul class="flex w-full justify-end items-center gap-7 mr-7">

        <a href=""><img class="w-5 h-5" src="/static/images/header/search.svg" alt=""></a>

        <a href=""><img class="w-5 h-5" src="/static/images/header/bag.svg" alt=""></a>

        <a href=""><img class="w-5 h-5" src="/static/images/header/menu.svg" alt=""></a>

    </ul>


        <div class="absolute flex w-10p justify-start">
            <a href=""><img src="/static/images/header/logo.svg" alt=""></a>
        </div>

</nav>
</header>   