{% load render_partial %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link href="{% static 'css/output.css' %}" rel="stylesheet">
    <link href="{% static 'css/input.css' %}" rel="stylesheet">
    

    
</head>
<body>
    {% comment %} {%render_partial header%} {% endcomment %}
    {% block content %}{% endblock content %}
    {% comment %} {%render_partial footer%} {% endcomment %}
</body>
</html>